body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
}

.container {
    position: absolute;
    top: 42%;
    left: 48%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

input {
    height: 60px;
    width: 0px;
    outline: none;
    color: black;
    padding: 0 20px;
    font-size: 20px;
    border: 1px solid #D50000;
    border-radius: 50px;
    transition: all .7s ease;
}

::placeholder {
    color: gray;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 80px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #D50000;
    text-align: center;
    cursor: pointer;
}

.btn i {
    font-size: 25px;
    line-height: 80px;
    color: white;
    transition: all .7s ease;
}

.container:hover input {
    width: 350px;
}

.container:hover .btn i {
    transform: rotate(-360deg);
}